<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhihui.zhexpress.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.zhihui.zhexpress.model.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="num" jdbcType="VARCHAR" property="num" />
    <result column="user_num" jdbcType="VARCHAR" property="userNum" />
    <result column="pic_num" jdbcType="VARCHAR" property="picNum" />
    <result column="repo_num" jdbcType="VARCHAR" property="repoNum" />
    <result column="pic_addr" jdbcType="VARCHAR" property="picAddr" />
    <result column="stype" jdbcType="VARCHAR" property="stype" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="xlist" jdbcType="VARCHAR" property="xlist" />
    <result column="ylist" jdbcType="VARCHAR" property="ylist" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, num, user_num, pic_num, repo_num, pic_addr, stype, status, remarks, createtime,
    updatetime, xlist, ylist
  </sql>
  <select id="selectByExample" parameterType="com.zhihui.zhexpress.model.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhihui.zhexpress.model.OrderExample">
    delete from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zhihui.zhexpress.model.Order" useGeneratedKeys="true">
    insert into order (num, user_num, pic_num,
      repo_num, pic_addr, stype,
      status, remarks, createtime,
      updatetime, xlist, ylist
      )
    values (#{num,jdbcType=VARCHAR}, #{userNum,jdbcType=VARCHAR}, #{picNum,jdbcType=VARCHAR},
      #{repoNum,jdbcType=VARCHAR}, #{picAddr,jdbcType=VARCHAR}, #{stype,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP},
      #{updatetime,jdbcType=TIMESTAMP}, #{xlist,jdbcType=VARCHAR}, #{ylist,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zhihui.zhexpress.model.Order" useGeneratedKeys="true">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="num != null">
        num,
      </if>
      <if test="userNum != null">
        user_num,
      </if>
      <if test="picNum != null">
        pic_num,
      </if>
      <if test="repoNum != null">
        repo_num,
      </if>
      <if test="picAddr != null">
        pic_addr,
      </if>
      <if test="stype != null">
        stype,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="xlist != null">
        xlist,
      </if>
      <if test="ylist != null">
        ylist,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="num != null">
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="userNum != null">
        #{userNum,jdbcType=VARCHAR},
      </if>
      <if test="picNum != null">
        #{picNum,jdbcType=VARCHAR},
      </if>
      <if test="repoNum != null">
        #{repoNum,jdbcType=VARCHAR},
      </if>
      <if test="picAddr != null">
        #{picAddr,jdbcType=VARCHAR},
      </if>
      <if test="stype != null">
        #{stype,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="xlist != null">
        #{xlist,jdbcType=VARCHAR},
      </if>
      <if test="ylist != null">
        #{ylist,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhihui.zhexpress.model.OrderExample" resultType="java.lang.Long">
    select count(*) from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=VARCHAR},
      </if>
      <if test="record.userNum != null">
        user_num = #{record.userNum,jdbcType=VARCHAR},
      </if>
      <if test="record.picNum != null">
        pic_num = #{record.picNum,jdbcType=VARCHAR},
      </if>
      <if test="record.repoNum != null">
        repo_num = #{record.repoNum,jdbcType=VARCHAR},
      </if>
      <if test="record.picAddr != null">
        pic_addr = #{record.picAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.stype != null">
        stype = #{record.stype,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null">
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.xlist != null">
        xlist = #{record.xlist,jdbcType=VARCHAR},
      </if>
      <if test="record.ylist != null">
        ylist = #{record.ylist,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order
    set id = #{record.id,jdbcType=INTEGER},
      num = #{record.num,jdbcType=VARCHAR},
      user_num = #{record.userNum,jdbcType=VARCHAR},
      pic_num = #{record.picNum,jdbcType=VARCHAR},
      repo_num = #{record.repoNum,jdbcType=VARCHAR},
      pic_addr = #{record.picAddr,jdbcType=VARCHAR},
      stype = #{record.stype,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      xlist = #{record.xlist,jdbcType=VARCHAR},
      ylist = #{record.ylist,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhihui.zhexpress.model.Order">
    update order
    <set>
      <if test="num != null">
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="userNum != null">
        user_num = #{userNum,jdbcType=VARCHAR},
      </if>
      <if test="picNum != null">
        pic_num = #{picNum,jdbcType=VARCHAR},
      </if>
      <if test="repoNum != null">
        repo_num = #{repoNum,jdbcType=VARCHAR},
      </if>
      <if test="picAddr != null">
        pic_addr = #{picAddr,jdbcType=VARCHAR},
      </if>
      <if test="stype != null">
        stype = #{stype,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="xlist != null">
        xlist = #{xlist,jdbcType=VARCHAR},
      </if>
      <if test="ylist != null">
        ylist = #{ylist,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhihui.zhexpress.model.Order">
    update order
    set num = #{num,jdbcType=VARCHAR},
      user_num = #{userNum,jdbcType=VARCHAR},
      pic_num = #{picNum,jdbcType=VARCHAR},
      repo_num = #{repoNum,jdbcType=VARCHAR},
      pic_addr = #{picAddr,jdbcType=VARCHAR},
      stype = #{stype,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      xlist = #{xlist,jdbcType=VARCHAR},
      ylist = #{ylist,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--Custom-->
  <select id="getOrderList" parameterType="map" resultType="map">
    select * from `order` o where 1=1
    <if test="num != null">
      and o.num=#{num}
    </if>
    <if test="userNum != null">
      and o.user_num=#{userNum}
    </if>
    <if test="repoNum != null">
      and o.repo_num=#{repoNum}
    </if>
    <if test="picNum != null">
      and o.pic_num=#{picNum}
    </if>
    <if test="stype != null">
      and o.stype=#{stype}
    </if>
    <if test="status != null">
      and o.status=#{status}
    </if>
    <if test="startTime != null and startTime != ''">
      and o.createtime <![CDATA[   >=  ]]> #{startTime}
    </if>
    <if test="endTime != null and endTime != ''">
      and o.createtime <![CDATA[   <=  ]]> #{endTime}
    </if>
    <if test="orderBy != null">
      order by #{orderBy}
    </if>
  </select>



</mapper>